.button-xlarge{font-size:300%;
			color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	        background: rgb(66, 184, 221);}
img {height:25%;
	width:25%;
	clear:both;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 2px #888888;}

.pure-button {margin:20px;}
.button {text-align:center;}
.paragraph {font-size: 80%;
			text-align: left;}
.blurb {font-size:80%;
		width:50%;
		margin:auto;
		margin-bottom: 20px;}
.back {	float:left;
		clear:both;
	text-align: left;
	margin:0;}
.content {text-align: center;}
h2 {text-align: center;
	clear:both;
	margin-top:-15px;}

.name {font-size: 120%;
	color:#303030;}
.info {font-size: 105%;
	color:#4C4C4C;}
