.button-xlarge{font-size:300%;
			color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	        background: rgb(66, 184, 221);}
img {height:20%;
	width:20%;
	float:left;
	clear:both;}
/*label {clear:both;
		float:left;
		padding:20px;}
*/
